{% extends "keepAccount/base.html" %}
{% block body %}

<center>
    <h4>choose a month</h4>
</center>

<div class="container">
    <form class="d-flex" role="search" action="{% url 'overview'%}" method="POST">
        {%csrf_token%}
        <input class="form-control me-2" type="month" placeholder="choose a month" aria-label="Search" name="searched">
        <button class="btn btn-outline-success" type="submit">GO</button>
    </form>
</div>


{% if searched %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Your searched for {{searched}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">

    <!-- Icon Cards-->
    <div class="row align-items-center">

        <div class="col-sm-6">
            <canvas id="myChart1" width="300" height="400"></canvas>
            <div>

                <script type="text/javascript">
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['食', '衣', '住', '行', '育', '樂', '收入', '其他'],
                            datasets: [{
                                label: 'Sum',
                                data: JSON.parse("{{typeSum}}"),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 135, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 99, 132, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(211, 192, 192, 1)',
                                    'rgba(234, 102, 132, 1)',
                                    'rgba(153, 99, 132, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'gree',
                                    'yellow',
                                ],

                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    })
                </script>
            </div>
        </div>



        <div class="col-sm-6 ">
            <canvas id="myChart" width="300" height="200" style="vertical-align: middle;"></canvas>
            <div>
                <script type="text/javascript">
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['食', '衣', '住', '行', '育', '樂', '收入', '其他'],
                            datasets: [{
                                label: 'bar-chart',
                                data: JSON.parse("{{typeSum}}"),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 135, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 99, 132, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(211, 192, 192, 1)',
                                    'rgba(234, 102, 132, 1)',
                                    'rgba(153, 99, 132, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'gree',
                                    'yellow',
                                ],

                                borderWidth: 1
                            }]
                        },

                        options: {
                            scales: {
                                y: {
                                    ticks: { color: 'green', beginAtZero: true }
                                },
                                x: {
                                    ticks: { beginAtZero: true }
                                }
                            }
                        }
                    })
                </script>
            </div>
        </div>


    </div>

    <br>
    <br>


    <!-- end of static icon -->
</div>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            Balance : {{balance}}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Total Cost : {{totalCost}}
        </div>
    </div>
    {% if quotas %}
    <div class="card">
        <div class="card-body">
            Quotas : {{quotas}}
        </div>
    </div>
    {% endif %}
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for list in result%}
            {% if list.user == user %}
            <tr>
                <td>{{list.date}}</td>
                <td>{{list.type}}</td>
                <td>{{list.description}}</td>
                {% if list.type == '收入' %}
                <td>
                    <p style="color:rgb(2, 255, 2)">{{list.cost}}</p>
                </td>
                {% else %}
                <td>
                    <p style="color:rgb(255, 0, 0)">{{list.cost}}</p>
                </td>
                {% endif %}
                <td><a href="{% url 'update' list.id %}" class="btn btn-outline-secondary btn-sm">update</a>
                    <a href="{%url 'delete' list.id%}" class="btn btn-outline-danger btn-sm">delete</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Choose a month
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}